html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(14, 14, 14);
}

img {
    display: block;
    -webkit-user-select: none;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
}