header {
    display: flex;
    font-family: monospace;
    color: black;
    font-size: 17px;
    justify-content: space-between;
}

#itmo_logo {
    height: 70px;
}
body {
    font-size: 16px;
}

.scroll-table-body {
    font-size: 15px;
}

.win {
    display: flex;
    justify-content: center;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
#calculator {
    width: 500px;
    height: 500px;
    margin: 10px 50px 30px;
}

#calculator {
    width: 500px;
    height: 500px;
}
.head_menu {
    width: 600px;
    display: flex;
    justify-content: center;
}
.graph {
    height: 340px;
}
#menu {
    height: 350px;
    display: grid;
    align-content: center;
}
input#r {
    padding-left: 5px;
}
#forma {
    width: 430px;
    justify-self: center;
}
.values>div {
    margin-left: 1%;
}
.values {
    padding: 1%;
    border-color: black;
    border-style: groove;
    border-radius: 10px;
}
.values>div {
    display: flex;
    justify-content: center;
}

.y_value>input {
    margin-left: 1%;
}

.incorrectY {
    background-color: red;
}

.x_value {
    margin-top: 0;
}

#r_value>input {
    margin-left: 1%;
}

#sub_but {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 165px;
}

#clear_table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 165px;
}

.under_form_input {
    margin-top: 3%;
    justify-self: center;
}

.fixed-width-table {
    width: 77.5%;
    table-layout: fixed;
}

input[type="checkbox"]:checked+label::before {
    content: "<";
}

input[type="checkbox"]:checked+label::after {
    content: ">";
}

.tab_head {
    border-style: groove;
    border-color: black;
    border-radius: 10px;
}

.tab1>*>*>th {
    border-style: groove;
    border-color: black;
    border-radius: 10px;
}

#scroll-table-body {
    width: 800px;
    height: 310px;
    overflow-y: auto;
    margin-top: 10px;
    border-style: solid;
    color: black;
    border-radius: 10px;
}
.scroll-table table {
    width:800px;
    table-layout: fixed;
}

#tab>*>*>*>*>*>td {
    border-style: groove;
    border-color: black;
    border-radius: 10px;
}